[Unit]
Description=Smart Task Management System API
After=network.target

[Service]
WorkingDirectory=/var/www/stms-api
ExecStart=/usr/lib/dotnet/dotnet /var/www/stms-api/Api.dll
Restart=always
RestartSec=5

Environment=ASPNETCORE_ENVIRONMENT=Production
EnvironmentFile=-/etc/stms/stms.env

User=tanvir
Group=tanvir

[Install]
WantedBy=multi-user.target
